*{
	margin: 0;
	padding: 0;
	outline: none;
	resize: none;
	border: 0;
	font-size: 14px;
}
body{
	background: #44ff88;
}
.box{
	width: 90%;
	height: auto;
	padding: 50px;
	margin: 40px auto 0;
	padding: 5%;
	box-sizing: border-box; 
	overflow: hidden;
}
.box1,.box2{
	width: 90%;
	height: auto;
	margin: 0 auto;

}
.box1 > input{
	width: 90%;
	height: 50px;
	background-color: #fff;
	margin: 0 auto;
	border-radius: 10px;
	box-sizing: border-box;
	padding: 3px 20px;
	margin: 20px;
}
textarea{
	width: 90%;
	height: 200px;
	background-color: #fff;
	margin: 0 auto;
	border-radius: 10px;
	padding: 20px ;
	box-sizing: border-box;
	margin: 20px;
}
.p{
	width: 90%;
	height: auto;
	margin: 0 auto;
}
.p > p{
	width: 90%;
	margin: 0 auto;
	padding: 3px 5px;
	margin: 0 3px 20px 10px;
}
p span{
	font-size: 20px;
	color: red;
}
button{
	width: 90%;
	height: auto;
	background-color: #63a8cf;
	border-radius: 5px;
	box-sizing: border-box;
	padding: 3px 5px;
	margin: 0 20px 0;
	font-size: 16px;

}
.bottom1{
	width: 90%;
	height: auto;
	margin: 0 auto;
}
.bottom{
	width: 90%;
	height: auto;
	background-color: #fff;
	margin: 0 auto;
	border-radius: 10px;
	padding: 20px ;
	box-sizing: border-box;
	margin: 20px;
	display: flex;
}
.bottom>img{
	display: block;
	width: 80px;
	height: 80px;
}
.bottom>.nei{
	flex: 1;
	padding:0  20px;
}
.nei>p{
	width: 100%;
	height: auto;
}